In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data\anime.csv", low_memory = False)
df.head(5)

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [2]:
print(type(df), df.shape)

<class 'pandas.core.frame.DataFrame'> (17562, 35)

In [3]:
df.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [4]:
df.iloc[2]

MAL_ID                                                           6
Name                                                        Trigun
Score                                                         8.24
Genres           Action, Sci-Fi, Adventure, Comedy, Drama, Shounen
English name                                                Trigun
Japanese name                                                トライガン
Type                                                            TV
Episodes                                                        26
Aired                                  Apr 1, 1998 to Sep 30, 1998
Premiered                                              Spring 1998
Producers                                     Victor Entertainment
Licensors                     Funimation, Geneon Entertainment USA
Studios                                                   Madhouse
Source                                                       Manga
Duration                                           24 min. per ep.
Rating                                   PG-13 - Teens 13 or older
Ranked                                                       266.0
Popularity                                                     201
Members                                                     558913
Favorites                                                    12944
Watching                                                     29113
Completed                                                   343492
On-Hold                                                      25465
Dropped                                                      13925
Plan to Watch                                               146918
Score-10                                                   50229.0
Score-9                                                    75651.0
Score-8                                                    86142.0
Score-7                                                    49432.0
Score-6                                                    15376.0
Score-5                                                     5838.0
Score-4                                                     1965.0
Score-3                                                      664.0
Score-2                                                      316.0
Score-1                                                      533.0
Name: 2, dtype: object

In [5]:
df2 = df[['Name', 'Score', 'Genres', 'Episodes', 'Premiered']]
df2.head(5)

,Name,Score,Genres,Episodes,Premiered
0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",26,Spring 1998
1,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",1,Unknown
2,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",26,Spring 1998
3,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",26,Summer 2002
4,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",52,Fall 2004

In [6]:
df2 = df2.assign(Premiered = lambda x: x['Premiered'].str.extract('(\d+)'))
df2.head(10)

,Name,Score,Genres,Episodes,Premiered
0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",26,1998
1,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",1,NaN
2,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",26,1998
3,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",26,2002
4,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",52,2004
5,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",145,2005
6,Hachimitsu to Clover,8.06,"Comedy, Drama, Josei, Romance, Slice of Life",24,2005
7,Hungry Heart: Wild Striker,7.59,"Slice of Life, Comedy, Sports, Shounen",52,2002
8,Initial D Fourth Stage,8.15,"Action, Cars, Sports, Drama, Seinen",24,2004
9,Monster,8.76,"Drama, Horror, Mystery, Police, Psychological,...",74,2004

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       17562 non-null  object
 1   Score      17562 non-null  object
 2   Genres     17562 non-null  object
 3   Episodes   17562 non-null  object
 4   Premiered  4745 non-null   object
dtypes: object(5)
memory usage: 686.1+ KB

In [8]:
def to_float(x):
    try:
        x = float(x)
    except:
        x = np.nan
    return x

In [9]:
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

In [10]:
df2['Score'] = df2['Score'].apply(to_float).astype(float)
df2['Episodes'] = df2['Episodes'].apply(convert_int).astype(int)
df2['Premiered'] = df2['Premiered'].apply(convert_int).astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       17562 non-null  object
 1   Score      12421 non-null  float64
 2   Genres     17562 non-null  object
 3   Episodes   17562 non-null  int32
 4   Premiered  17562 non-null  int32
dtypes: float64(1), int32(2), object(2)
memory usage: 548.9+ KB

In [11]:
df2

,Name,Score,Genres,Episodes,Premiered
0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",26,1998
1,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",1,0
2,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",26,1998
3,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",26,2002
4,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",52,2004
...,...,...,...,...,...
17557,Daomu Biji Zhi Qinling Shen Shu,NaN,"Adventure, Mystery, Supernatural",0,0
17558,Mieruko-chan,NaN,"Comedy, Horror, Supernatural",0,0
17559,Higurashi no Naku Koro ni Sotsu,NaN,"Mystery, Dementia, Horror, Psychological, Supe...",0,2021
17560,Yama no Susume: Next Summit,NaN,"Adventure, Slice of Life, Comedy",0,0
17561,Scarlet Nexus,NaN,"Action, Fantasy",0,2021

**The knowledge-based recommender**

In [12]:
df2['Genres'] = df2['Genres'].str.strip('()').str.split(',')
df2

,Name,Score,Genres,Episodes,Premiered
0,Cowboy Bebop,8.78,"[Action, Adventure, Comedy, Drama, Sci-Fi,...",26,1998
1,Cowboy Bebop: Tengoku no Tobira,8.39,"[Action, Drama, Mystery, Sci-Fi, Space]",1,0
2,Trigun,8.24,"[Action, Sci-Fi, Adventure, Comedy, Drama,...",26,1998
3,Witch Hunter Robin,7.27,"[Action, Mystery, Police, Supernatural, Dr...",26,2002
4,Bouken Ou Beet,6.98,"[Adventure, Fantasy, Shounen, Supernatural]",52,2004
...,...,...,...,...,...
17557,Daomu Biji Zhi Qinling Shen Shu,NaN,"[Adventure, Mystery, Supernatural]",0,0
17558,Mieruko-chan,NaN,"[Comedy, Horror, Supernatural]",0,0
17559,Higurashi no Naku Koro ni Sotsu,NaN,"[Mystery, Dementia, Horror, Psychological, ...",0,2021
17560,Yama no Susume: Next Summit,NaN,"[Adventure, Slice of Life, Comedy]",0,0
17561,Scarlet Nexus,NaN,"[Action, Fantasy]",0,2021

In [13]:
import warnings
warnings.filterwarnings('ignore')

s = df2.apply(lambda x: pd.Series(x['Genres']), axis = 1).stack()\
.reset_index(level = 1, drop = True)
s.name = 'Genres'
gen_df = df2.drop('Genres', axis = 1).join(s)
gen_df['Genres'] = gen_df['Genres'].str.lower() 
gen_df.head(10)

                              Name  Score  Episodes  Premiered      Genres
0                     Cowboy Bebop   8.78        26       1998      action
0                     Cowboy Bebop   8.78        26       1998   adventure
0                     Cowboy Bebop   8.78        26       1998      comedy
0                     Cowboy Bebop   8.78        26       1998       drama
0                     Cowboy Bebop   8.78        26       1998      sci-fi
0                     Cowboy Bebop   8.78        26       1998       space
1  Cowboy Bebop: Tengoku no Tobira   8.39         1          0      action
1  Cowboy Bebop: Tengoku no Tobira   8.39         1          0       drama
1  Cowboy Bebop: Tengoku no Tobira   8.39         1          0     mystery
1  Cowboy Bebop: Tengoku no Tobira   8.39         1          0      sci-fi

In [14]:
import copy

def build_chart(gen_df, percentile = 0.8):
    
    print('Input prefereed genres')
    Genres = input()
    print('Input shortest Episodes')
    low_Episodes = int(input())
    print('Input longest Episodes')
    high_Episodes = int(input())
    print('Input earliest year')
    low_year = int(input())
    print('Input latest year')
    high_year = int(input())
    movies = copy.deepcopy(gen_df)
    movies = movies[(movies['Genres'] == Genres) &
                    (movies['Episodes'] >= low_Episodes) &
                    (movies['Episodes'] <= high_Episodes) &
                    (movies['Premiered'] >= low_year) &
                    (movies['Premiered'] <= high_year)]
    q_movies = movies.sort_values('Score', ascending = False)
    return q_movies

In [15]:
build_chart(gen_df).head(10)

Input prefereed genres
action
Input shortest Episodes
1
Input longest Episodes
20
Input earliest year
1900
Input latest year
2000

                                   Name  Score  Episodes  Premiered  Genres
163              Initial D Second Stage   8.12        13       1999  action
1334                      City Hunter 3   7.82        13       1989  action
1335                    City Hunter '91   7.78        13       1991  action
372                     Seikai no Senki   7.72        13       2000  action
266                   Seikai no Monshou   7.69        13       1999  action
3762                      Tekken Chinmi   7.27        20       1988  action
2181                           Cybersix   7.24        13       1999  action
157                            Vandread   7.21        13       2000  action
897   Dual! Parallel Lun-Lun Monogatari   7.10        13       1999  action
1831           Taiho Shichau zo Special   7.06        20       1999  action

**Content-Based Recommenders**

In [16]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
df0 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Data\anime_with_synopsis.csv", low_memory = False)
df0.head(5)

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [17]:
df0['Genres'] = df0['Genres'].str.strip('()').str.split(',')
df0

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"[Action, Adventure, Comedy, Drama, Sci-Fi,...","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"[Action, Drama, Mystery, Sci-Fi, Space]","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"[Action, Sci-Fi, Adventure, Comedy, Drama,...","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"[Action, Mystery, Police, Supernatural, Dr...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"[Adventure, Fantasy, Shounen, Supernatural]",It is the dark century and the people are suff...
...,...,...,...,...,...
16209,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"[Adventure, Mystery, Supernatural]",No synopsis information has been added to this...
16210,48483,Mieruko-chan,Unknown,"[Comedy, Horror, Supernatural]",ko is a typical high school student whose life...
16211,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"[Mystery, Dementia, Horror, Psychological, ...",Sequel to Higurashi no Naku Koro ni Gou .
16212,48491,Yama no Susume: Next Summit,Unknown,"[Adventure, Slice of Life, Comedy]",New Yama no Susume anime.
16213,48492,Scarlet Nexus,Unknown,"[Action, Fantasy]",Solar calendar year 2020: grotesque organisms ...

In [18]:
df0['Score'] = df0['Score'].apply(to_float).astype(float)
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16214 entries, 0 to 16213
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAL_ID     16214 non-null  int64
 1   Name       16214 non-null  object
 2   Score      11091 non-null  float64
 3   Genres     16214 non-null  object
 4   sypnopsis  16206 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 633.5+ KB

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words = 'english')
df0['sypnopsis'] = df0['sypnopsis'].fillna('')
tfidf_matrix = tfidf.fit_transform(df0['sypnopsis'])
tfidf_matrix.shape

(16214, 45064)

In [20]:
from sklearn.metrics.pairwise import linear_kernel
cosin_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [21]:
pd.DataFrame(cosin_sim)

,0,1,2,3,4,5,6,7,8,9,...,16204,16205,16206,16207,16208,16209,16210,16211,16212,16213
0,1.000000,0.231391,0.015967,0.023563,0.008075,0.020814,0.000000,0.016533,0.013483,0.004135,...,0.0,0.003352,0.015949,0.007409,0.000000,0.000000,0.012420,0.0,0.009882,0.045931
1,0.231391,1.000000,0.037029,0.010630,0.004027,0.017836,0.011672,0.009779,0.008074,0.013148,...,0.0,0.011873,0.003797,0.000000,0.000000,0.000000,0.014127,0.0,0.000000,0.012970
2,0.015967,0.037029,1.000000,0.000000,0.011895,0.007033,0.003193,0.005715,0.000000,0.022979,...,0.0,0.009853,0.012658,0.000000,0.014713,0.014713,0.011780,0.0,0.000000,0.000000
3,0.023563,0.010630,0.000000,1.000000,0.000000,0.013626,0.000000,0.014193,0.003583,0.005449,...,0.0,0.027605,0.006357,0.000887,0.000000,0.000000,0.014531,0.0,0.000000,0.006155
4,0.008075,0.004027,0.011895,0.000000,1.000000,0.048272,0.001977,0.006680,0.000000,0.009307,...,0.0,0.012684,0.003060,0.003087,0.000000,0.000000,0.013027,0.0,0.000000,0.014703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16209,0.000000,0.000000,0.014713,0.000000,0.000000,0.013116,0.000000,0.000000,0.017206,0.000000,...,0.0,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,0.000000,0.000000
16210,0.012420,0.014127,0.011780,0.014531,0.013027,0.023211,0.005175,0.010088,0.009320,0.031097,...,0.0,0.000000,0.011436,0.003322,0.000000,0.000000,1.000000,0.0,0.000000,0.000000
16211,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
16212,0.009882,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016239,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.016552
16213,0.045931,0.012970,0.000000,0.006155,0.014703,0.014695,0.000000,0.022769,0.011888,0.013800,...,0.0,0.013496,0.002109,0.001270,0.000000,0.000000,0.000000,0.0,0.016552,1.000000

In [22]:
indices = pd.Series(df0.index, index = df0['Name']).drop_duplicates()
indices

Name
Cowboy Bebop                           0
Cowboy Bebop: Tengoku no Tobira        1
Trigun                                 2
Witch Hunter Robin                     3
Bouken Ou Beet                         4
                                   ...
Daomu Biji Zhi Qinling Shen Shu    16209
Mieruko-chan                       16210
Higurashi no Naku Koro ni Sotsu    16211
Yama no Susume: Next Summit        16212
Scarlet Nexus                      16213
Length: 16214, dtype: int64

In [23]:
# top 10 similarity of movie no. 0 to others
sorted(list(enumerate(cosin_sim[0])), key = lambda x: x[1], reverse = True)[:10]

[(0, 1.0000000000000007),
 (1, 0.23139075021852176),
 (3149, 0.16008446476876814),
 (6703, 0.13751654648821074),
 (365, 0.11437980573951213),
 (3044, 0.11350727975307354),
 (1261, 0.10813076981147544),
 (12387, 0.09702448362760108),
 (6112, 0.08930532628304755),
 (1145, 0.08766481210456675)]

In [24]:
def content_recommender(Name, cosin_sim = cosin_sim, df0 = df0):
    # map Name to index
    idx = indices[Name]
    sim_scores = list(enumerate(cosin_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    
    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['Name'].iloc[movie_indices]

In [25]:
content_recommender('Cowboy Bebop')

1                          Cowboy Bebop: Tengoku no Tobira
3149                                               Requiem
6703                        Busou Chuugakusei: Basket Army
365                                                  Karas
3044                                          Onna Kyoushi
1261                           Future GPX Cyber Formula 11
12387    Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no S...
6112                                         Bug tte Honey
1145               Saint Seiya: Shinku no Shounen Densetsu
5949                        Anime Tenchou x Touhou Project
Name: Name, dtype: object